nav{
  display: flex;
  padding: 20px;
  min-width: 100vw;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}

nav button{
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  border: none;
}

.todoCard{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border: 2px solid rgb(112, 101, 101);
}

.todoCard h1{
  font-size: 17px;
}

.todoCard p{
  font-size: 14px;
}